section.hero {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

section.hero .left-section {
  flex-grow: 1;
  animation: fadeInLeft 1.5s ease-out;
}

.parent-avatar {
  position: relative;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-svg {
  position: absolute;
  top: 0;
  left: 0;
}

section.hero .avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 2px 2px 40px gray inset;
  animation: fadeIn 1.5s ease-out;
  position: absolute;
  top: 0;
  left: 0;
}

section.hero h1.title {
  font-size: 2.85rem;
  line-height: 3.3rem;
  margin: 24px 0;
  color: var(--title);
  animation: fadeInUp 1.5s ease-out;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

section.hero p.sub-title {
  color: var(--subtitle);
  font-size: 0.9rem;
  line-height: 1.7rem;
  padding-bottom: 32px;
  animation: fadeInUp 1.5s ease-out;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

section.hero .all-icons {
  font-size: 1.5rem;
  gap: 1.5rem;
  cursor: pointer;
  color: var(--subtitle);
  display: flex;
  animation: fadeInUp 1.5s ease-out;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
}

.animation {
  width: 80%;
  /* translate: 100px 55px ; */
}

section.hero .all-icons .icon:hover {
  font-size: 1.6rem;
  transition: 0.3s;
  color: var(--icon-hover);
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.led-effect {
  color: var(--text-shadow); /* Beautiful blue color */
  text-shadow: 0 0 8px rgba(30, 144, 255, 0.6), 0 0 16px rgba(30, 144, 255, 0.5),
    0 0 24px rgba(41, 52, 63, 0.4), 0 0 32px rgba(30, 144, 255, 0.3),
    0 0 40px rgba(30, 144, 255, 0.2);
  animation: led-animation 1s infinite alternate;
}

@keyframes led-animation {
  0% {
    text-shadow: 0 0 8px rgba(30, 144, 255, 0.6),
      0 0 16px rgba(30, 144, 255, 0.5), 0 0 24px rgba(30, 144, 255, 0.4),
      0 0 32px rgba(30, 144, 255, 0.3), 0 0 40px rgba(30, 144, 255, 0.2);
  }
  100% {
    text-shadow: 0 0 16px rgba(30, 144, 255, 0.8),
      0 0 24px rgba(30, 144, 255, 0.7), 0 0 32px rgba(30, 144, 255, 0.6),
      0 0 40px rgba(30, 144, 255, 0.5), 0 0 48px rgba(30, 144, 255, 0.4);
  }
}

@media (max-width: 1200px) {
  section.hero .right-section {
    display: none;
  }
}
