section.hero{
    margin-top: 3rem;
}
section.hero .left-section{
    flex-grow: 1;

}
section.hero .avatar{
    width: 150px;
    border-radius: 50%;
    height: 160px;
    border: 1px solid darkorange;
    padding: 4px;
    box-shadow: 2px 2px 40px gray inset;
}

section.hero h1.title{
    font-size: 2.85rem;
    line-height: 3.3rem;
    margin: 24px 0;
    color: var(--title);
    
}

section.hero p.sub-title{
    color: var(-subtitle);
    font-size: 0.9rem;
    line-height: 1.7rem;
    padding-bottom: 32px
}

section.hero .all-icons{
    font-size: 1.5rem;
    gap: 1.5rem;
    cursor: pointer;
    color: var(--subtitle);
}

section.hero .all-icons .icon:hover{
    font-size: 1.8rem;
    transition: 0.3s;
    color: var(--icon-hover);
}



.right-section{
    position: absolute;
   
    right: 10%;
    border-radius: 50%;
    height: 96px;
    width: 96px;
    animation: rotate_3922 1.2s linear infinite;
    background-color: #9b59b6;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}
.right-section span{
    position: absolute;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: #9b59b6;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}

.right-section span:nth-of-type(1) {
    filter: blur(5px);
  }
  
  .right-section span:nth-of-type(2) {
    filter: blur(10px);
  }
  
  .right-section span:nth-of-type(3) {
    filter: blur(25px);
  }
  
  .right-section span:nth-of-type(4) {
    filter: blur(50px);
  }
  
  .right-section::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: #fff;
    border: solid 5px #ffffff;
    border-radius: 50%;
  }
  
  @keyframes rotate_3922 {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }