@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
:root {
  --primary: #000;
  --secondary:rgb(24, 24, 27);
  --border: rgba(63,63,70,0.4) ;
}
.light {
  --primary: #fff;
}
body {
  background-color: var(--primary);
  color: white;
}
.container {
  border: 2px solid var(--border);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary) ;
}
.devider{
  border-bottom: 1px solid var(--border);
  margin: 3rem 0;
}